.header_top {
  background-color: #eeef9f;
  padding: 10px 0;
}

ul.conta_icon li a img {
  padding-right: 7px;
}

ul.social_icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.social_icon li {
  height: 30px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 5px;
}

ul.social_icon li:last-child {
  padding-right: 0px;
}

ul.social_icon li a {
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #212529;
  float: left;
  text-align: center;
  line-height: 31px;
  border-radius: 100%;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  ul.social_icon li a svg {
  font-size: 14px; 
}

ul.social_icon li a:hover {
  background:#7d7b44;
  color: #fff;
}

.select-box {
  cursor: pointer;
  position: relative;
  width: 90px;
}

.select,
.label {
  color: #677691;
  display: block;
  font-size: 12px;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}

.select-box1 {
  background: #ecf3fc;
  border: #677691 solid 1px;
  border-radius: 30px;
}

.label {
  position: relative;
  padding: 0px 23px 0px 9px;
  cursor: pointer;
  margin-bottom: 0;
}

.open .label::after {
  content: "▲";
}

.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: -18px;
  top: 0;
  padding: 0px 24px;
}

.se_fonr1 {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.time_o {
  padding-left: 15px;
  color: #0d1015;
  font-size: 14px;
}
