.total_amount{
    color: #595630;
}


@media (max-width: 700px) {
    .total {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 700px) {
    .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
